<div class="dh-adv-manager-content">
    <div class="form-group">
        <label><i class="fas fa-search"></i> Search Adversary:</label>
        <!-- Input de Filtro -->
        <input type="text" class="filter-actors" placeholder="Type to filter list..." style="margin-bottom: 5px;" autofocus>
        
        <!-- Select expandido (List Box) -->
        <select name="actorId" class="actor-select" style="width: 100%; height: 200px; padding: 5px;" size="10">
            {{#each adversaries}}
            <option value="{{this.id}}">{{this.name}}</option>
            {{/each}}
        </select>
    </div>
    <footer class="sheet-footer" style="margin-top: 10px;">
        <button type="submit">
            <i class="fas fa-check"></i> Manage Selected
        </button>
    </footer>
</div>